%% -*- erlang -*-
{erl_opts,[debug_info,
           warnings_as_errors,
           {platform_define, "(R14|R15|R16B-)", 'old_hash'}]}.

{deps, [{edown, ".*",
         {git, "https://github.com/uwiger/edown.git", {tag, "0.8"}}},
        {proper, ".*",
         {git, "https://github.com/manopapad/proper.git", "1b773eeb47"}}]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{edoc_opts, [{doclet, edown_doclet},
             {src_path, ["src"]},
             {stylesheet, ""},
             {image, ""},
             {preprocess, true},
             {top_level_readme,
              {"./README.md",
               "https://github.com/selectel/etsdangerous"}}]}.
